<div class="row">
<div class="index">
  <blockquote class="blockquote blockquote-reverse">
    <b><i>The world is a book and those who don't travel read just one page</i></b>

  <footer class="blockquote-footer"><i>Saint Augustine</i></footer>
 </blockquote>
</div>
</div>
