<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
     <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.min.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row header navbar-fixed-top">
    <header>
      <div class=col-md-6>
            <% if(typeof currentUser === 'object') { %>
    <h1> Welcome to your personal TripBuddy, <%= currentUser.userName %> ! </h1>
    <% } else { %>
      <h1> Welcome to your personal TripBuddy!</h1>
     <% } %>
  </div>
  <div class="col-md-6">
    <nav>
   <ul class="nav nav-pills menu">
      <li role="presentation" class="active"><a href="/">Home</a></li>
     <li role="presentation"><a href="/new-trip">New Trip</a></li>
    <% if(typeof currentUser === 'object') { %>
      <li role="presentation"><a href="/profile">My Profile</a></li>
      <li role="presentation"><a href="/logout">Logout</a></li>
  <% } else { %>
  <li role="presentation"><a href="/login">Login</a></li>
  <li role="presentation"><a href="/signup">Sign Up</a></li>
</ul>
  <% } %>
    </nav>
  </div>
  </header>
</div>

<div class="row footer">
<span id="contacts">Trip Buddy 2017 | Contact: </span>
<a href="https://www.linkedin.com/in/ibodnarchuk/"><img src="../images/linkedin.png"></a>
<a href="https://github.com/ihorbond"><img src="../images/github.png"></a>
<a href="mailto:ihorbond@gmail.com"><img src="../images/email.png"></a>
</div>
</div>

    <%- body %>

</body>
</html>
