
<div class="container login-signup bg-primary">
  <h2> Login </h2>
<% if (typeof error === 'string') { %>
       <p class="error"> <%= error %> </p>
<% }; %>
  <form method="post" action="/login">
    <input class="form-control" id="login-user-name" type="text" name="loginUsername" placeholder="Enter Username">
    <br>
    <input class="form-control" id="login-password" type="password" name="loginPassword" placeholder="Enter Password">
    <br>
    <button class="btn btn-info"> Login </button>
  </form>
  <form method="get" action="/auth/facebook">
     <button class="btn btn-info"> Facebook </button>
   </form>
   <form method="get" action="/auth/google">
     <button class="btn btn-info"> Google+ </button>
   </form>
      <a href="/recover-password">Forgot password?</a>
</div>
