<div class="container login-signup add-new-vehicle bg-primary">
<h2> Add a vehicle </h2>
  <% if (typeof error === 'string') { %>
    <p class="error"> <%= error %> </p>
  <% } %>
<form method="post" action="/new-car">
<input id="vehicle-make" class="form-control" type="text" name="vehicleMake" placeholder="Make*">

<input id="vehicle-model" class="form-control" type="text" name="vehicleModel" placeholder="Model*">

  <input id="vehicle-year" class="form-control" type="number" name="vehicleYear" placeholder="Year">

  <input id="vehicle-mpg" class="form-control" type="number" name="vehicleMPG" placeholder="MPG*">

  <input id="vehicle-desc" class="form-control" type="text" maxlength="12" name="vehicleDesc" placeholder="Short Description">

  <button class="btn btn-info"> Submit </button>
</form>

<span class="required-field"> * - required field </span>
</div>
