<h2> Add a vehicle </h2>

<form method="post" action="/new-car">
  <input id="vehicle-make" type="text" name="vehicleMake" placeholder="Make">*
  <br>
  <input id="vehicle-model" type="text" name="vehicleModel" placeholder="Model">*
  <br>
  <input id="vehicle-year" type="number" name="vehicleYear" placeholder="Year">
  <br>
  <input id="vehicle-mpg" type="number" name="vehicleMPG" placeholder="MPG">*
  <br>
  <input id="vehicle-desc" type="text" name="vehicleDesc" placeholder="Short Description">
  <br>
  <button> Submit </button>
</form>

* - required field
