body {
  background-image:url("../images/background.jpg");
}

ul > li {
  list-style-type: none;
}
.error {
  color:red;
}
.index {
  text-align: center;
  vertical-align: middle;
}
.menu {
  float: right;
}
.login-signup {
  margin-top: 13em;
  border-radius: 5px;
  text-align: center;
  width: 30em;
  height: 100%;
  .security-questions {
    color: red;
    width: 100%;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
}

#help {
  width: 15px;
  height: 15px;
}
#help:hover {

}

#map {
  border: 2px solid red;
  border-radius: 5px;
  width: 100%;
  height: 536px;
}

#results {
  b {
    color: rgb(58, 228, 142);
  }
  h2 {
    text-align: center;
  }
  height: 537px;
  border: 2px solid red;
  border-radius: 5px;
  font-size: 20px;
  .result-values {
    color: yellow;
  }
}
#AAA a {
  color: white;
  text-decoration: underline;
}

#gas-prices {
  table {
    margin-left: 50px;
    text-align: center;
  }
  th, td {
    padding: 10px;
  }
}

#inputs {
  border: 2px solid red;
  border-radius: 5px;
}
